/* GLOBAL CSS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #1E1E1E;
}

a:visited, button:visited, a:link {
    color: inherit;
}

h1, h2, h3 {
    color: white;
}

h3 {
    font-size: 22px;
}

p {
    font-weight: 300;
    color: white;
    font-size: 22px;
}

.underline {
    text-decoration: underline;
    text-underline-offset: 8px;;
}

.px20{
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.title-p {
    font-size: 25px;
    width: 90%;
}

.big-width {
    width: var(--content-width-big);
}

.medium-width {
    width: var(--content-width-medium);
}

.inline-block {
    display: inline-block;
}

button {
    color: black;
    cursor: pointer;
    border-radius: var(--border-radius);
    border: none;
}

button:active {
    background-color: var(--button-beige);
}

img {
    object-fit: cover;
}

input {
    color: black;
}

.divider {
    width: 90%;
    height: 2px;
    border-radius: 10px;
    background: #ECDFC8;
}

.divider-small {
    width: 80%;
    height: 2px;
    border-radius: 10px;
    background: #ECDFC8;
}

.page-title {
    color: white;
    letter-spacing: 8.4px;
    font-size: 50px;
    margin: 64px auto;
}

.align-right {
    text-align: end;
    align-items: end;
}

.flip {
    transform: scaleX(-1);
}