/* HOMEPAGE */


.hero {
    position: relative;
    align-items: center;
}

.hero-img {
    width: 100%;
    height: 380px;
    background-image: linear-gradient(var(--img-hero-gradient)), url(/Images/kid-in-museum.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.hero-text {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 90vw;
    font-size: 3.8vw;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.homepage-content {
    color: white;
    font-size: 23px;
    margin: 64px auto;
    width: 1098px;
    display: flex;
    flex-direction: column;
}

.homepage-content h2 {
    font-weight: 500;
    font-size: 25px;
}

.card-gap {
    margin-bottom: 52px;
}

.hp-card-img {
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    display: block;
    height: 250px;
}

.hp-card-backg {
    background-color: var(--dark-background-color);
    height: 50px;
    border-radius: 0px 0 5px 5px;
    display: flex;
    align-items: center;
}

.s-img, .s-card {
    width: 255px;
    justify-content: center;
}

.m-img, .m-card {
    width: 536px ;
}

.xl-img, .xl-card {
    width: 1098px;
}
.card-indent {
    margin-left: 19px;
}

.homepage-card-s-s-m, .homepage-card-m-m {
    display: flex;
    justify-content: space-between;
    gap: 26px;
}


/*EXHIBITS*/



.exhibit-content {
    width: 80vw;
    color: white;
    margin: 64px auto;
}

.exhibit-content p {
    width: 90%;
}

.exhibit-content > div {
    margin: 64px auto;
}


.exhibit-title {
    max-width: 1100px;
}

.highlight-exhibit {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
}

.highlight-img {
    height: 100%;
    width: 500px;
    border-radius: 10px;
}
.highlight-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 28px
}
.highlight-content p {
    width: 489px;
}

.highlight-content h2 {
    font-size: 35px;
}

.button-seemore {
    height: 50px;
    width: 219px;
    background: #ECDFC8;
    font-size: 20px;
}

.button-seemore:active {
    background-color: #737373;
}

.exhibits {
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 64px 0;
    gap: 64px 20px;

}

.exhibits h3 {
    font-size: 25px;
}

.exhibit-template {
    display: flex;
    width: 333px;
    flex-direction: column;
    justify-content: space-between;
    gap: 17px;


}

.exhibit-img {
    width: 100%;
    height: 202px;
    border-radius: var(--border-radius);
}


/* EXHIBIT TEMPLATE*/

.information-width {
    width: 900px;
    margin: 64px auto;
}

.exhibit-template-content {
    color: white;
}

.exhibit-template-content .divider {
    width: 100%;
}

.exhibit-hero {
    height: 300px;
    width: 100%;
}

.exhibit-hero-img {
    height: 100%;
    width: 100%;
}

.exhibit-content-head, .information-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.exhibit-content-head h1 {
    font-size: 50px;
    letter-spacing: 6px;
}

.exhibit-content-head {
    margin-bottom: 100px;
}

.information-layout {
    gap: 100px;
    margin-bottom: 64px;

}

.information {
    display: flex;
    justify-content: space-between;
}
.information-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 15px;
}

.information-text {
    width: 80%;
}

.information-img {
    width: 324px;
    border-radius: var(--border-radius);
}

.back-button p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.8px;
    margin-top: 20px;
    margin-left: 20px;

}

.img-flip {
    flex-direction: row-reverse;
}


/*ABOUT*/

.about-main {
    width: 900px;
    margin: 0 auto;
}

.about-main h1 {
    letter-spacing: 7.837px;
}

.about-title-p {
    margin-bottom: 50px;
}

.about-divider {
    margin-bottom: 50px;
}

.about-goals {
margin-bottom: 100px;
display: flex;
flex-direction: column;
gap: 50px;
}

.about-goals-title {
    font-size: 30px;
}

.about-main h3 {
    letter-spacing: 1.5px;
}





/* EVENTS */


.events-main {
    margin: 0 auto;
}

.events-title, .tickets-title {
    width: 100%;
    font-size: 60px;
    margin: 64px auto 0;
}

.events-content, .tickets-content {
    width: 100%;
    margin: 44px 0 64px;
    display: flex;
    justify-content: space-between;
}

.events-west, .tickets-east {
    width: var(--event-west-width);
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 49px;
}

.calendar {
    width: 100%;
    height: 330px;
    padding: 30px;
    margin-bottom: 12px;
    background-color: var(--light-background-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar p {
    color: black;
    font-size: 18px;
    letter-spacing: 0;
}

.calendar-date {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
}

.choose-date {
    width: 100%;
    height: 50px;
    border: none;
    background-color: var(--button-beige);
    border-radius: var(--border-radius);
    padding: 20px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.wide-calendar {
    display: none;
    width: 100%;
    height: auto;
    background-color: var(--light-background-color);
    border-radius: var(--border-radius);
    color: black ;
}

.calendar-wide {
    background-color: var(--light-background-color);
    height: 200px;
    width: 100%;
    border-radius: var(--border-radius);
}

.date-display {
    background-color: var(--light-background-color);
    border-radius: var(--border-radius);
    height: 100%;
    width: 100%;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-display h3, .calendar-button, .purchase-button {
    color: black;
    font-weight: 700;
    letter-spacing: 2px;
}

.date-button  {
    width: 200px;
    height: 100%;
    background-color: var(--light-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-month, .date-number {
    min-width: 140px;
}

.calendar-button {
    background-color: var(--light-background-color);
}

.calendar-button, .purchase-button {
    width: 100%;
    height: 60px;
    font-size: 20px;
}

.hours {
    width: var(--event-west-width);
    height: 100%;
    background-color: var(--light-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 17px;
    border-radius: var(--border-radius);

}
.hours h3 {
    color: black;
}
.open-hours p {
    color: black;
    font-size: 20px;
}

.events-east {
    width: 589px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 79px;
}

.event-today, .event-week {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}

.event-week-title, .tickets-content-title {
    letter-spacing: 3px;
}

.event-card {
    width: 100%;
    height: 117px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.event-card {
    background-size: cover;
}

.event-today .event-card {
    background-image: linear-gradient(var(--img-gradient)), url(/Images/Vilvite/vr-paint.jpg);
    background-position: 50% 15%;
}  
.event-week .event-card:nth-child(2) {
    background-image: linear-gradient(var(--img-gradient)), url(/Images/scienceteens.jpg);
    background-position: 50% 70%;
}
.event-week .event-card:nth-child(3) {
    background-image: linear-gradient(var(--img-gradient)), url(/Images/Vilvite/vilvite-workshop.jpg);
    background-position: 50% 30%;
}
.event-week .event-card:nth-child(4) {
    background-image: linear-gradient(var(--img-gradient)), url(/Images/Vilvite/vilvite-ekspriment.jpg);
    background-position: 50% 30%;
}

.event-name {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.event-name p {
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    padding: 0 10px;
    font-size: 23px;

}

.event-card-time {
    display: flex;
    align-items: center;
    height: 100%;
    width: 171px;

}

.divider-vertical {
    height: 80%;
    width: 2px;
    background-color: #ECDFC8;
    border-radius: 10px;
}

.event-time {
    margin-left: 50px;
    width: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    gap: 4px;
}


.event-time-day, .event-time-hour {
    font-size: 18px;
    letter-spacing: 2px;
}

.event-time-hour {
    font-weight: 400;
}
.event-time-duration {
    font-weight: 300;
    font-size: 13px;
}

/* TICKETS */

.tickets-main {
    margin: 0 auto;
}

.tickets-cart {
    width: 100%;
    height: auto;
    min-height: 224px;
    background-color: var(--light-background-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-items {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;;
}

.cart-subtotal {
    width: 100%;
}

.cart-item, .item-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.cart-item, .ticket-card-content {
    width: 90%;
    margin: 10px auto;
}

.tickets-cart p, .tickets-cards p {
    color: black;
    font-weight: 600;
    letter-spacing: 1.8px;
}

.item-name {
    font-size: 18px;
}

.item-right p {
    font-size: 16px;
}

.item-remove, .item-add {
    width: 30px;
    height: 30px;
}

.card-divider {
    margin: 10px auto;
    width: 90%;

}

.subtotal {
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtotal p {
    font-size: 17px;
}

.subtotal .subtotal-price {
    font-size: 18px;
}

.purchase-button {
    background-color: var(--button-red);
    height: 61px;
}

.tickets-cards {
    background-color: var(--light-background-color);
    width: 100%;
    height: 61px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
}

.tickets-west {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ticket-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.ticket-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-card-right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.ticket-name {
    font-size: 20px;
}

.info-logo {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.name-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.price-per {
    font-size: 16px;
}

.price-small {
    font-size: 13px;
}

.ticket-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    align-items: center;
}


.ticket-tooltip {
    width: 30px;
    height: 30px;
    position: relative;
    right: 17%;
}

.tooltip-text {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: var(--button-beige);
    border-radius: var(--border-radius);
    width: 336px;
    height: 80px;
    bottom: 170%;
    color: black;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition:visibility 0.05s linear,opacity 0.05s linear;
}

.family-tooltip {
    width: 388px
}

.tooltip-school {
    right: -10%;
}

.ticket-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    
}


/* INFORMATION */

.info-width {
    width: 900px;
}

.information-section {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 64px auto;
}

.info-west {
    display: flex;
    gap: 99px;
    width: 500px;
}

.info-cards, .info-visit-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 66px;
}

.info-east {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 306px
}

.hours-info {
    height: 100%;
}

.info-contact {
    display: flex;
    gap: 0;
}

.info-content, .info-visit, .info-contact {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.email-adresses {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-contact a {
    display: inline-block;
    width: auto;
}

.email-adresses p {
    font-weight: 300
}

.contact-email {
    font-size: 20px;
}

.info-content p {
    font-size: 20px;
}

.information-main h2 {
    letter-spacing: 0.2rem;
}

.info-button {
    width: 190px;
    height: 50px;
    font-size: 16px;
    background-color: var(--button-beige);
    font-size: 20px;
    font-weight: 500;
}

.info-button:active {
    background-color: #737373;
}

/* MISC */

.phone-version {
    display: none;
}
