* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

.bold {
    font-weight: bold;
}

body {
    background-color: #1E1E1E;
}


a:visited {
    color: inherit;
}

p {
    font-weight: 300;
    color: white;
    font-size: 22px;
}

.title-p {
    font-size: 25px;
    width: 90%;
}


img {
    object-fit: cover;
}

.divider {
    width: 90%;
    height: 2px;
    border-radius: 10px;
    background: #ECDFC8;
}

.page-title {
    color: white;
    letter-spacing: 8.4px;
    font-size: 50px;
    margin: 64px auto;
}

.align-right {
    text-align: end;
    align-items: end;
}