
/*IMPORTS*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url(/css/global.css);
@import url(/css/header.css);
@import url(/css/footer.css);

:root {

    /* COLORS */
    --light-background-color:#FFFEF8;
    --dark-background-color: #343434;
    --button-beige: #ECDFC8;
    --button-red: #DF7861;

    --img-gradient: rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0.75);
    --img-hero-gradient: rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.35);

    /* WIDTHS */

    --content-width-big: 1097px;
    --content-width-medium: 761px; 
    --event-west-width: 306px;
    --border-radius: 5px;


}


/* HOMEPAGE */


.hero {
    position: relative;
    align-items: center;
}

.hero-img {
    width: 100%;
    height: 380px;
    background-image: linear-gradient(var(--img-hero-gradient)), url(Images/kid-in-museum.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.hero-text {
    position: absolute;
    top: 40%;
    left: 5%;
    width: 90vw;
    font-size: 3.8vw;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

.homepage-content {
    color: white;
    font-size: 23px;
    margin: 64px auto;
    width: 1098px;
    display: flex;
    flex-direction: column;
}

.homepage-content h2 {
    font-weight: 500;
    font-size: 25px;
}

.card-gap {
    margin-bottom: 52px;
}

.hp-card-img {
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    display: block;
    height: 250px;
}

.hp-card-backg {
    background-color: var(--dark-background-color);
    height: 50px;
    border-radius: 0px 0 5px 5px;
    display: flex;
    align-items: center;
}

.s-img, .s-card {
    width: 255px;
    justify-content: center;
}

.m-img, .m-card {
    width: 536px ;
}

.xl-img, .xl-card {
    width: 1098px;
}
.card-indent {
    margin-left: 19px;
}

.homepage-card-s-s-m, .homepage-card-m-m {
    display: flex;
    justify-content: space-between;
    gap: 26px;
}


/*EXHIBITS*/



.exhibit-content {
    width: 80vw;
    color: white;
    margin: 64px auto;
}

.exhibit-content p {
    width: 90%;
}

.exhibit-content > div {
    margin: 64px auto;
}


.exhibit-title {
    max-width: 1100px;
}

.highlight-exhibit {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
}

.highlight-img {
    height: 100%;
    width: 500px;
    border-radius: 10px;
}
.highlight-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 28px
}
.highlight-content p {
    width: 489px;
}

.highlight-content h2 {
    font-size: 35px;
}

.button-seemore {
    height: 50px;
    width: 219px;
    background: #ECDFC8;
    font-size: 20px;
}

.button-seemore:active {
    background-color: #737373;
}

.exhibits {
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 64px 0;
    gap: 64px 20px;

}

.exhibits h3 {
    font-size: 25px;
}

.exhibit-template {
    display: flex;
    width: 333px;
    flex-direction: column;
    justify-content: space-between;
    gap: 17px;


}

.exhibit-img {
    width: 100%;
    height: 202px;
    border-radius: var(--border-radius);
}




/* EXHIBIT TEMPLATE*/

.information-width {
    width: 900px;
    margin: 64px auto;
}

.exhibit-template-content {
    color: white;
}

.exhibit-template-content .divider {
    width: 100%;
}

.exhibit-hero {
    height: 300px;
    width: 100%;
}

.exhibit-hero-img {
    height: 100%;
    width: 100%;
}

.exhibit-content-head, .information-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.exhibit-content-head h1 {
    font-size: 50px;
    letter-spacing: 6px;
}

.exhibit-content-head {
    margin-bottom: 100px;
}

.information-layout {
    gap: 100px;
    margin-bottom: 64px;

}

.information {
    display: flex;
    justify-content: space-between;
}
.information-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 15px;
}

.information-text {
    width: 80%;
}

.information-img {
    width: 324px;
    border-radius: var(--border-radius);
}

.back-button p {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.8px;
    margin-top: 20px;
    margin-left: 20px;

}

.img-flip {
    flex-direction: row-reverse;
}


/*ABOUT*/

.about-main {
    width: 900px;
    margin: 0 auto;
}

.about-main h1 {
    letter-spacing: 7.837px;
}

.about-title-p {
    margin-bottom: 50px;
}

.about-divider {
    margin-bottom: 50px;
}

.about-goals {
margin-bottom: 100px;
display: flex;
flex-direction: column;
gap: 50px;
}

.about-goals-title {
    font-size: 30px;
}

.about-main h3 {
    letter-spacing: 1.5px;
}





/* EVENTS */


.events-main {
    margin: 0 auto;
}

.events-title, .tickets-title {
    width: 100%;
    font-size: 60px;
    margin: 64px auto 0;
}

.events-content, .tickets-content {
    width: 100%;
    margin: 44px 0 64px;
    display: flex;
    justify-content: space-between;
}

.events-west, .tickets-east {
    width: var(--event-west-width);
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 49px;
}

.calendar {
    width: 100%;
    height: 330px;
    padding: 30px;
    margin-bottom: 12px;
    background-color: var(--light-background-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar p {
    color: black;
    font-size: 18px;
    letter-spacing: 0;
}

.calendar-date {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
}

.choose-date {
    width: 200px;
    height: 50px;
    border: none;
    background-color: var(--button-beige);
    border-radius: var(--border-radius);
    padding: 20px;
    font-size: 15px;
    font-weight: 600;
}

.wide-calendar {
    display: none;
    width: 100%;
    height: auto;
    background-color: var(--light-background-color);
    border-radius: var(--border-radius);
    color: black ;
}

.calendar-wide {
    background-color: var(--light-background-color);
    height: 200px;
    width: 100%
    border-radius: var(--border-radius);
}

.date-display {
    background-color: var(--light-background-color);
    border-radius: var(--border-radius);
    height: 100%;
    width: 100%;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-display h3, .calendar-button, .purchase-button {
    color: black;
    font-weight: 700;
    letter-spacing: 2px;
}

.date-button  {
    width: 200px;
    height: 100%;
    background-color: var(--light-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-month, .date-number {
    min-width: 140px;
}







.calendar-button {
    background-color: var(--light-background-color);
}

.calendar-button, .purchase-button {
    width: 100%;
    height: 60px;
    font-size: 20px;
}

.hours {
    width: var(--event-west-width);
    height: 100%;
    background-color: var(--light-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    gap: 17px;
    border-radius: var(--border-radius);

}
.hours h3 {
    color: black;
}
.open-hours p {
    color: black;
    font-size: 20px;
}



.events-east {
    width: 589px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 79px;
}

.event-today, .event-week {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
}

.event-week-title, .tickets-content-title {
    letter-spacing: 3px;
}

.event-card {
    width: 100%;
    height: 117px;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.event-card {
    background-size: cover;
}

.event-today .event-card {
    background-image: linear-gradient(var(--img-gradient)), url(Images/Vilvite/vr-paint.jpg);
    background-position: 50% 15%;
}  
.event-week .event-card:nth-child(2) {
    background-image: linear-gradient(var(--img-gradient)), url(Images/scienceteens.jpg);
    background-position: 50% 70%;
}
.event-week .event-card:nth-child(3) {
    background-image: linear-gradient(var(--img-gradient)), url(Images/Vilvite/vilvite-workshop.jpg);
    background-position: 50% 30%;
}
.event-week .event-card:nth-child(4) {
    background-image: linear-gradient(var(--img-gradient)), url(Images/Vilvite/vilvite-ekspriment.jpg);
    background-position: 50% 30%;
}

.event-name {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.event-name p {
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    padding: 0 10px;
    font-size: 23px;

}

.event-card-time {
    display: flex;
    align-items: center;
    height: 100%;
    width: 171px;

}

.divider-vertical {
    height: 80%;
    width: 2px;
    background-color: #ECDFC8;
    border-radius: 10px;
}

.event-time {
    margin-left: 50px;
    width: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    gap: 4px;
}


.event-time-day, .event-time-hour {
    font-size: 18px;
    letter-spacing: 2px;
}

.event-time-hour {
    font-weight: 400;
}
.event-time-duration {
    font-weight: 300;
    font-size: 13px;
}



/* Tickets */

.tickets-main {
    margin: 0 auto;
}

.tickets-cart {
    width: 100%;
    height: auto;
    min-height: 224px;
    background-color: var(--light-background-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-items {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;;
}

.cart-subtotal {
    width: 100%;
}

.cart-item, .item-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.cart-item, .ticket-card-content {
    width: 90%;
    margin: 10px auto;
}

.tickets-cart p, .tickets-cards p {
    color: black;
    font-weight: 600;
    letter-spacing: 1.8px;
}

.item-name {
    font-size: 18px;
}

.item-right p {
    font-size: 16px;
}

.item-remove, .item-add {
    width: 30px;
    height: 30px;
}

.card-divider {
    margin: 10px auto;
    width: 90%;

}

.subtotal {
    width: 90%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subtotal p {
    font-size: 17px;
}

.subtotal .subtotal-price {
    font-size: 18px;
}

.purchase-button {
    background-color: var(--button-red);
    height: 61px;
}

.tickets-cards {
    background-color: var(--light-background-color);
    width: 100%;
    height: 61px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
}


.tickets-west {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.ticket-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.ticket-card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket-card-right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.ticket-name {
    font-size: 20px;
}

.info-logo {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.name-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.price-per {
    font-size: 16px;
}

.price-small {
    font-size: 13px;
}

.ticket-buttons {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    align-items: center;
}


.ticket-tooltip {
    width: 30px;
    height: 30px;
    position: relative;
    right: 17%;
}

.tooltip-text {
    position: absolute;
    visibility: hidden;
    background-color: var(--button-beige);
    border-radius: var(--border-radius);
    width: 336px;
    height: 80px;
    bottom: 170%;
    color: black;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.family-tooltip {
    width: 388px
}

#tooltip-class, #tooltip-family {
    display: none;
}

.tooltip-label {
    position: absolute;
    right: 30%;
    bottom: -10%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.tooltip-school {
    right: -10%;
}



#tooltip-class:checked ~ .tooltip-text, #tooltip-family:checked ~ .tooltip-text  {
    visibility: visible;
}

.ticket-tooltip:hover .tooltip-text {
    visibility: visible;
    
}



  


/* INFORMATION */

.info-width {
    width: 900px;
}




.information-section {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    margin: 64px auto;
}

.info-west {
    display: flex;
    gap: 99px;
    width: 500px;
}

.info-cards, .info-visit-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 66px;
}



.info-east {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 306px
}

.hours-info {
    height: 100%;
}

.info-contact {
    display: flex;
    gap: 0;
}

.info-content, .info-visit, .info-contact {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.email-adresses {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-contact a {
    display: inline-block;
    width: auto;
}

.email-adresses p {
    font-weight: 300
}

.contact-email {
    font-size: 20px;
}

.info-content p {
    font-size: 20px;
}

.information-main h2 {
    letter-spacing: 0.2rem;
}

.info-button {
    width: 190px;
    height: 50px;
    font-size: 16px;
    background-color: var(--button-beige);
    font-size: 20px;
    font-weight: 500;
}

.info-button:active {
    background-color: #737373;
}

















.phone-version {
    display: none;
}

@media (max-width: 1299px) {

    .exhibit-template  {
        width: 400px;
    }

    .events-title {
        max-width: 100%;
    }


    .highlight-img {
        width: 100%;
        max-height: 450px;
        object-fit: cover;
    }
    

    .highlight-exhibit {

        justify-content: center;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .exhibits {
        justify-content: center;
        gap: 64px;
    }

    .big-width  {
        width: 80vw;
    }
}



@media (max-width: 1199px) {

    .hide-1199 {
        display: none;
    }


    .cc-logo {
        width: 100%;
        height: auto;
        max-width: 400px;
    }

    .s-img, .s-card {
        justify-content: center;
        width: 181px
    }
    
    .m-img, .m-card {
        width: 387px;
        justify-content: center;
    }
    
    .xl-img, .xl-card {
        width: 800px;
        margin: 0 auto;
    }

    .homepage-content {
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .homepage-card-s-s-m, .homepage-card-m-m {
        width: 800px;
        justify-content: space-between;
    }


    /*EXHIBIT TEMPLATE 1199px*/

    .information-width {
        width: 600px;
        margin: 64px auto;
    }

    .exhibit-content-head, .information-layout {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .information-layout {
        gap: 100px;
    }

    .information, .img-flip {
        flex-direction: column;
        gap: 30px;
    }

    .exhibit-content-head h1 {
        font-size: 36px;
    }

    .title-p {
        font-size: 23px;
        width: 100%;
    }

    .information-img {
        width: 80%;
        height: 200px;
    }

    .information-content {
        gap: 30px;
    }

    .events-east {
        width: 500px;
    }

    .align-right {
        text-align: start;
        align-items: start;
    }

    .footer-content {
        width: 800px;
    }
}

@media (max-width: 1131px) {
    .header-logo, .header-nav  {
        padding: 0 20px;
    }
}

@media (max-width: 1079px) {
    .exhibit-template, .highlight-exhibit {
        width: 80vw;
    }

    .exhibit-img {
        height: 200px;
        width: 100%;
    }

    .highlight-content p {
        max-width: 489px;
        width: 80%;
        
    }


    .exhibit-template p {
        width: 80%;
        max-width: 400px;
    } 

    .events-content {
        flex-direction: column;
        align-items: center;
    }

    .events-west, .tickets-east {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 50px;
    }

    .hours-events, .calendar-event  {
        height: 402px;
        width: 100%;
    }

    

    .tickets-calendar {
        display: none;
    }

    .events-east {
        width: 100%;
    }

    .tickets-content {
        flex-direction: column;
        align-items: center;
        gap: 70px;
    }

    .tickets-east {
        flex-direction: column;
        align-items: end;
    }

    .tickets-west {
        gap: 40px;
    }

    .tickets-west, .tickets-east, .tickets-title {
        width: 80vw;
    }

    .tickets-cart {
        align-items: center;
    }

    .cart-items, .cart-subtotal {
        width: 100%;
        max-width: 400px;


    }

    .info-width {
        width: 70vw;
    }
    .show-1079 {
        display: block;
    }


   



}

@media (max-width: 919px) {

    .hours-info {
        width: 100%;
        height: 200px;
    }

    .events-title {
        text-align: center;
    }

    .events-content {
        margin: 0 auto 64px;;
    }

    .events-calendar, .calendar, .tickets-calendar {
        width: 100%;
    }

    .information-section {
        flex-direction: column-reverse;
    }

    .info-east {
        flex-direction: column-reverse;
    }

    .information-section section {
        width: 100%;
    }

    .info-title {
        text-align: center;
    }

   
}

@media (max-width: 869px) {




    .hero-img {
        height: 300px;
    }
    
    .tickets-button {
        width: 500px;
        height: 60px;
    }

    .homepage-content  {
        margin: 52px auto;
    }

    .hp-card-backg {
        justify-content: center;
    }

    .homepage-card-s {
        display: none;
    }
    
    .homepage-card-s-s-m {
        width: 500px;
    }
    .homepage-card-m-m {
        width: 500px;
        justify-content: center;
        flex-direction: column;
        gap: 52px;
    }
    .card-indent {
        margin: 0;
    }

    
    .m-img, .m-card {
        width: 500px;
        justify-content: center;
    }
    
    .xl-img, .xl-card {
        width: 500px;
        margin: 0 auto;
    }

    
    
    .footer-content {
        width: 500px;
    }
    
    .footer-logo {
        width: 100%;
        height: auto;
        max-width: 250px;
    }

    .SoMe-icon {
        height: 35px;
        width: 35px;
    }

    .phone-version {
        display: block;
    }

    .desktop-version {
        display: none;
    }

}

@media (max-width: 749px) {

    .header-logo {
        width: 259px;
    }

    .cc-logo {
        max-height: 54px;
    }
    
    .hamburger-icon {
        display: block;
    }

    .highlight-img {
        height: 200px;
    }

    .exhibit-img {
        width: 100%;
    }

    .button-seemore {
        width: 80vw;
    }

    .nav-items {
        display: none;
    }

    .hide-749 {
        display: none;
    }

    .tooltip-text {
        width: 260px;
        font-size: 15px;
        padding: 10px;
        
    }



    /* EXHIBITS 749px */

    .exhibit-hero {
        height: 200px;
    }

    .exhibit-content-head, .information-width {
        width: 80vw;
    }

    .exhibit-content-head {
        margin-bottom: 50px;
    }

    .information-layout {
        gap: 70px;
    }

    .exhibit-content-head h1 {
        letter-spacing: 0;
    }

    .divider {
        width: 100%;
    }

    .card-divider {
        width: 90%;
    }

    .tickets-title {
        text-align: center;
    }

    .info-button {
        width: 100%;
        height: 61px;
        font-size: 23px;
    }


    footer {
        height: 84px;
    }
}

@media (max-width: 599px) {


    
    .hero-img {
        height: 196px;
    }

    .homepage-content {
        margin: 30px auto 50px;
    }

    .homepage-content h2 {
        font-size: 19px;
    }
    .homepage-card-m-m {
        gap: 30px;
    }

    .homepage-content div, .homepage-content button, .homepage-content img {
        width: 80vw;
    }

    .homepage-content img {
        height: 150px;
    }

    .hp-card-backg p {
        font-size: 17px;
    }

    .hp-card-backg {
        height: 35px;
    }

    .card-gap {
        margin-bottom: 30px;
    }

    .highlight-content h2 {
        font-size: 5.6vw;
    }

    .information-text, .information-img {
        width: 100%;
    }

    .event-card-time {
        width: 100px;
    }

    .event-time {
        margin-left: 10px;
    }

    .hours-events {
        display: none;
    }

    .calendar {
        height: 200px;
    }

    .ticket-name {
        font-size: 18px;
    }

    .info-title {
        font-size: 8vw;
        width: 70vw;
    }


    .footer-content {
        width: 90%;
    }

    .footer-logo {
        width: 200px;
        height: 40px;
    }

    .SoMe {
        gap: 15px;
    }

    .SoMe-icon {
        width: 35px;
        height: 35px;
    }

    /* EXHIBIT TEMPLATE */

    .exhibit-content-head h1 {
        font-size: 6.3vw;
        white-space: nowrap;
        letter-spacing: 0;
    }

    .title-p, .about-goals-text {
        font-size: 4.2vw;
    }

    .information-title, .about-goals-title {
        font-size: 4.4vw;
        
    }

    .information-text {
        font-size: 4vw;
    }

    .information-img {
        height: 150px;
    }
}

@media(max-width: 511px) {

    .ticket-card-content {
        flex-direction: column;
        gap: 20px;
    }
    
    .ticket-card-right {
        width: 90%;
        justify-content: center;
        flex-direction: column;
    }

    .tickets-cards {
        height: auto;
    }

    .tooltip-text {
        right: -100%;
        bottom: 150%;
        width: 200px
    }

   
}

@media (max-width: 444px) {
    .remove-439 {
        display: none;
    }
    
    
    .page-title {
        font-size: 14vw;
    }
    .info-title {
        font-size: 8vw;
        width: 70vw;
        letter-spacing: 5px;
    }

    .exhibit-content p {
        font-size: 4vw;
    }

    .button-seemore {
        font-size: 5vw;
    }

    .hamburger-icon {
        width: 40px;
        height: 40px;
    }

    .hamburger-label {
        top: 3.5%
    }
    
}

@media (max-width: 400px) {
    .remove-400 {
        display: none;
    }

    
}

@media (max-width: 347px) {
    .remove-339 {
        display: none;
    }

    .footer-content {
        justify-content: center;
    }

    .SoMe {
        display: block
    }
}